html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.main {
    text-align: center;
    width: 30%;
    margin: auto;
}

li {
    text-align: left;
}

.done {
    color: #d6d6d6;
    text-decoration: line-through;
}